* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color:rgb(136,136,136);
	background-image:url("img/zeebsbg.jpg");
	background-size:cover;
	color:rgb(255,255,255);
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
}
h1 {
	font-family: 'Pacifico', cursive;
	font-size:3em;
	margin:1em;
}
p {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size:1.62em;
	margin:0 6em;
	width:20em;
}
img {
	float:left;
	opacity:.85;
}
nav a {
	background-color:rgba(128,230,255,.5);
	border:2px solid rgba(255,255,255,.7);
	border-radius:10px;
	color: rgb(255,255,255);
	float:left;
	font-family: 'Sue Ellen Francisco', cursive;
	font-size:1.5em;
	margin:3em .25em;
	padding:0 .5em;
	text-decoration:none;
}
footer {
	bottom:0;
	font-family: 'Sue Ellen Francisco', cursive;
	font-size:1.62em;
	margin:1em;
	position:fixed;
}
a {
	background-color:rgba(128,230,255,.5);
	border:2px solid rgba(255,255,255,.7);
	border-radius:10px;
	color: rgb(255,255,255);
	font-family: 'Sue Ellen Francisco', cursive;
	padding:0 .5em;
	text-decoration:none;
}
a:hover{ 
	background-color:rgba(128,230,255,.8);
	text-decoration:none;
}
.socialmedia{
	padding:.162em;
}
#splashh1{
	margin:0 3.24em;
}
#ctabutton{
	display:block;
	font-size:1.62em;
	margin:.62em 6em;
	padding:.162em;
	text-align:center;
	width:16em;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}