* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color:rgb(136,136,136);
	background-image:url("img/zeebsbg.jpg");
	background-size:cover;
	color:rgb(255,255,255);
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
}
h1 {
	font-family: 'Pacifico', cursive;
	font-size:3em;
	margin:1em;
}
p{
	font-family: 'Patrick Hand', cursive;
	font-size:1.3em;
	margin:0 9em;
	width:20em;
}
div p {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size:1.62em;
	margin:0 7em;
	width:20em;
}
nav a {
	background-color:rgba(128,230,255,.5);
	border:2px solid rgba(255,255,255,.7);
	border-radius:10px;
	color: rgb(255,255,255);
	float:left;
	font-family: 'Sue Ellen Francisco', cursive;
	font-size:1.5em;
	margin:3em .162em;
	padding:0 1em;
	text-decoration:none;
}
footer {
	bottom:0;
	clear: both;
	font-family: 'Sue Ellen Francisco', cursive;
	font-size:1.62em;
	margin:1em 7em;
}
a {
	background-color:rgba(128,230,255,.5);
	border:2px solid rgba(255,255,255,.7);
	border-radius:10px;
	color: rgb(255,255,255);
	font-family: 'Sue Ellen Francisco', cursive;
	padding:0 .5em;
	text-decoration:none;
}
div{
	background:none;
	border:none;
}
a:hover{ 
	background-color:rgba(128,230,255,.8);
	text-decoration:none;
}
.displayed {
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	width:250px;
}
#splashh1{
	margin:0 3.24em;
}
#ctabutton{
	display:block;
	font-size:1.62em;
	margin:.62em 6em;
	padding:.162em;
	text-align:center;
	width:16em;
}
.work{
	clear:both;
	margin:0 11em;
	width:850px;
}
.work a:hover{
	background:none;
}
.logo {
	float:left;
	opacity:.85;
}
.clearfix:after { 
   clear: both;
   content: ".";
   display: block; 
   height: 0;  
   visibility: hidden; 
}
.wtf{
	background:none;
	border:none;
}
.socialmedia a:hover{
	background:none;
	border:none;
	opacity:1;

}
.socialmedia a{
	background:none;
	border:none;
	margin:3.25em .25em;
	opacity:.8;
	padding:0;
}
.shopfront{
	background-color:rgba(128,230,255,.5);
	clear:both;
	margin:12em;
	padding:2em;
	width:52%;
	height:auto;
}
.shopfront a:hover{
	background:none;
	border:none;
}
.storeimg{
	width:200px;
}